In [4]:
import pandas as pd

import matplotlib.pyplot as plt

In [6]:
!ls ../2020J_TMA02_data/census/

85043238.csv  91695374.csv  output-area-classification.csv
87985007.csv  93917134.csv

Importing the first CSV file of the census dataset.

In [12]:
furl = '../2020J_TMA02_data/census/85043238.csv'

df = pd.read_csv(furl, skiprows=10)
df.head()

,2011 super output area - middle layer,mnemonic,1.1 Large employers and higher managerial and administrative occupations,1.2 Higher professional occupations,"2. Lower managerial, administrative and professional occupations",3. Intermediate occupations,4. Small employers and own account workers,5. Lower supervisory and technical occupations,6. Semi-routine occupations,7. Routine occupations,L14.1 Never worked,L14.2 Long-term unemployed,L15 Full-time students,L17 Not classifiable for other reasons
0,Darlington 001,E02002559,2.0,14.0,77.0,89.0,11.0,39.0,92.0,66.0,23.0,3.0,321.0,0.0
1,Darlington 002,E02002560,3.0,9.0,35.0,80.0,9.0,43.0,97.0,60.0,25.0,7.0,242.0,0.0
2,Darlington 003,E02002561,2.0,7.0,55.0,70.0,5.0,37.0,77.0,39.0,26.0,5.0,217.0,0.0
3,Darlington 004,E02002562,2.0,4.0,50.0,87.0,8.0,42.0,130.0,89.0,60.0,25.0,240.0,0.0
4,Darlington 005,E02002563,0.0,11.0,52.0,58.0,7.0,28.0,90.0,67.0,47.0,8.0,186.0,0.0

In [13]:
df.describe()

,1.1 Large employers and higher managerial and administrative occupations,1.2 Higher professional occupations,"2. Lower managerial, administrative and professional occupations",3. Intermediate occupations,4. Small employers and own account workers,5. Lower supervisory and technical occupations,6. Semi-routine occupations,7. Routine occupations,L14.1 Never worked,L14.2 Long-term unemployed,L15 Full-time students,L17 Not classifiable for other reasons
count,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.000000,7201.0
mean,2.834884,16.273712,70.744897,75.573670,20.746563,44.223719,113.133176,74.499097,57.649771,13.004305,435.998334,0.0
std,6.475881,15.062884,32.816380,42.179019,10.432245,17.918537,43.749834,34.343531,43.835781,9.451961,537.495662,0.0
min,0.000000,0.000000,15.000000,8.000000,2.000000,2.000000,13.000000,9.000000,3.000000,0.000000,16.000000,0.0
25%,1.000000,8.000000,50.000000,54.000000,14.000000,32.000000,82.000000,50.000000,26.000000,6.000000,257.000000,0.0
50%,2.000000,13.000000,64.000000,70.000000,19.000000,42.000000,107.000000,68.000000,43.000000,11.000000,316.000000,0.0
75%,4.000000,19.000000,82.000000,90.000000,26.000000,54.000000,139.000000,92.000000,76.000000,18.000000,412.000000,0.0
max,414.000000,221.000000,520.000000,1975.000000,98.000000,366.000000,327.000000,327.000000,380.000000,84.000000,9581.000000,0.0

In [ ]:
#[SA: the project diart has been started]